<div class="page-header">
  <h2>The Thoughts</h2>
</div>
        <!-- Loop running page content -->
<% @statuses.each do |status| %>
<div>
        <!-- accordion structure -->
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <%= status.name %>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="well">
              <%= status.content %>
            </div>
          </div>
        </div>
        <!-- post funcionality -->
        <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) +" ago", status %></a>
          <span class="admin">
          |  <%= link_to "Edit", edit_status_path(status) %> |
            <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete your post?"} %>
          </span>
        </div> 
      </div>
        <!--////////////end functionality\\\\\\\\\\\\-->
    </div>  
        <!--////////////end accordion\\\\\\\\\\\\-->
</div>
<% end %>
